<div class="home center">
    <div class="img">
        <img class="realsoft" src="assets/img/Realsoft Logo@2x.png" alt="">
        <img class="angular" src="assets/img/angular-logo.png" alt="">
    </div>
    
    <h1>Welcome to Angular!</h1>
    
    <p>
        You will be taken on a quick journey to learn the basics of Angular.
    </p>

    <p>
        To get started, please clone this repository!
    </p>

    <button mat-raised-button color="accent" (click)="openGithub()">
        GitHub &nbsp;
        <i class="fa-brands fa-github"></i>
    </button>

    <sameer></sameer>
</div>