@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --primary: #121950;
}

* {
    box-sizing: border-box;
    font-family: 'Lato';
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    color: var(--primary);
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    margin-bottom: 0.75rem;
}

input[type="text"] {
    border: none;
    border-bottom: 3px solid var(--primary);
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

button, input[type="button"], input[type="submit"] {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: white;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
