#notes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.list-header {
    padding: 1rem;
}

@media screen and (min-width: 1600px) {
    #notes-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
