.note .dot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 2rem;
}

.note .title {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    color: white;
    background-color: var(--primary);
}

.note .description {
    padding: 1rem;
    background-color: white;
    border: 3px solid var(--primary);
    flex: 1;
}