.note {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.note .dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: aqua;
}

.note .title {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.note .description {
    padding: 1rem;
    flex: 1;
}