.note .title {
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: var(--primary);
}

.note .description {
    padding: 1rem;
    background-color: white;
    border: 3px solid var(--primary);
    flex: 1;
}